body {
      font-family: 'Arial', sans-serif;
      text-align: center;
      margin-top: 100px;
      background-color: #786a6a;
      color: #edd1d1;
    }
    
    ul {
      list-style-position: inside;
      text-align: left;
      margin-top: auto;
      color: cornsilk;
     }
    
    a href {
      color: pink;
      text-decoration: underline;
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: large;
      margin-top: auto;
}
/* จัดรูปภาพ */
.profile-img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
:root{
  --base-color: #786a6a;
  --base-variant: #e8e9ed;
  --text-color: #edd1d1;
  --secondary-text: #232738;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
}
body.darkmode{
  --base-color: #070b1d;
  --base-variant: #101425;
  --text-color: #ffffff;
  --secondary-text: #a4a5b8;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-family: Poppins;
}
body{
  min-height: 100vh;
  background-color: var(--base-color);
  color: var(--text-color);
}
header, section{
  padding: 70px min(50px, 7%);
}
section{
  background-color: var(--base-variant);
}
p{
  margin: 10px 0 20px 0;
  color: var(--secondary-text);
}
button{
  border: none;
  padding: .8em 2em;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  font: inherit;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.cta-button{
  background-color: var(--accent-color);
}
#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}
#theme-switch svg{
  fill: var(--primary-color);
}
#theme-switch svg:last-child{
  display: none;
}
.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}
