body {
      font-family: 'Arial', sans-serif;
      text-align: center;
      margin-top: 100px;
      background-color: #786a6a;
      color: #edd1d1;
    }
    
    ul {
      list-style-position: inside;
      text-align: left;
      margin-top: auto;
      color: cornsilk;
     }
    
    a href {
      color: coral;
      text-decoration: underline;
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: large;
      margin-top: auto;
}
